.json-editor .card.card-body.bg-light {
    background-color: unset !important;
}

/* regular input  */

.json-editor input {
    background: unset !important;
}

.dark .json-editor input {
    border-color: var(--dark-border);
    color: var(--dark-font) !important;
}

.light .json-editor input {
    border-color: var(--light-border);
    color: var(--light-font) !important;
}

/* single dropdown */

.json-editor select {
    background: unset !important;
}

.dark .json-editor select {
    color: var(--dark-font);
    border-color: var(--dark-border);
}

.light .json-editor select {
    color: var(--light-font);
    border-color: var(--light-border);
}

.dark .json-editor select option {
    color: var(--dark-font);
    background-color: var(--dark-background);
}

.light .json-editor select option {
    color: var(--light-font);
    background-color: var(--light-background);
}

/* multi select  */

.json-editor .select2-selection.select2-selection--multiple {
    background-color: unset;
    border-color: var(--dark-border) !important;
}

.dark .json-editor li.select2-selection__choice {
    border-color: var(--dark-border) !important;
    background-color: unset !important;
    color: var(--dark-font) !important;
}

.light .json-editor li.select2-selection__choice {
    border-color: var(--light-border) !important;
    background-color: unset !important;
    color: var(--light-font) !important;
}

.json-editor button.select2-selection__choice__remove {
    border-right: unset !important;
    background-color: unset !important;
}

.dark .json-editor button.select2-selection__choice__remove {
    color: var(--dark-border) !important;
}

.light .json-editor button.select2-selection__choice__remove {
    color: var(--light-border) !important;
}

.dark .json-editor button.select2-selection__choice__remove>span:hover {
    color: var(--dark-font);
}

.light .json-editor button.select2-selection__choice__remove>span:hover {
    color: var(--dark-font);
}

.dark .select2-container .select2-results>ul {
    background: var(--dark-background);
}

.dark .select2-container .select2-results__option--selected {
    background-color: var(--dark-background);
    color: var(--dark-fontActive) !important;
}

.dark .select2-container .select2-results__option--selectable {
    background-color: var(--dark-background);
    color: var(--dark-font);
}

.dark .select2-container .select2-results__option.select2-results__option--highlighted {
    background: var(--dark-backgroundActive);
    color: var(--dark-fontActive) !important;
}

.light .select2-container .select2-results>ul {
    background: var(--light-background);
}

.light .select2-container .select2-results__option--selected {
    background-color: var(--light-background);
    color: var(--light-fontActive) !important;
}

.light .select2-container .select2-results__option--selectable {
    background-color: var(--light-background);
    color: var(--light-font);
}

.light .select2-container .select2-results__option.select2-results__option--highlighted {
    background: var(--light-backgroundActive);
    color: var(--light-fontActive) !important;
}

.light .select2-dropdown {
    border-color: var(--light-border);
}

.dark .select2-dropdown {
    border-color: var(--dark-border);
}
