.MuiTabScrollButton-root.Mui-disabled {
  position: absolute;
}

.MuiTabs-flexContainer {
  height: 100%;
}
.MuiButtonBase-root.MuiTabScrollButton-root.MuiTabScrollButton-horizontal.Mui-disabled.MuiTabs-scrollButtons {
  display: none;
}