.mui-tables-custom>.MuiToolbar-root,
.mui-tables-custom .MuiTablePagination-toolbar {
    min-height: unset;
}

.mui-tables-custom .MuiTablePagination-toolbar>p {
    margin-bottom: 0;
}

.mui-tables-custom .MuiTableCell-root {
    padding-top: 0;
    padding-bottom: 0;
}

.mui-tables-custom .MuiButtonBase-root {
    padding-top: 0;
    padding-bottom: 0;
}

.mui-tables-custom .MuiPaper-root.MuiPaper-elevation {
    padding-top: 2px;
    padding-bottom: 2px;
}

.mui-tables-custom {
    background-color: unset !important;
    background-image: unset !important;
}