.productCard:hover {
    transform: translateY(-1px);
  }


.fullStar {
    fill: #4B4B4B;
    stroke: #4B4B4B;
}

.halfStar > path:first-of-type {
    fill: #FFF;
    stroke: #4B4B4B;
}

.halfStar > path:last-of-type {
    fill: #4B4B4B;
    stroke: #4B4B4B;
}

.dark .fullStar {
    fill: rgb(185, 179, 169);
    stroke: rgb(185, 179, 169);
}

.dark .halfStar > path:first-of-type {
    fill: #4B4B4B;
    /* fill: rgb(232, 230, 227); */
    stroke: #4B4B4B;
    /* stroke: rgb(185, 179, 169); */
}

.halfStar > path:last-of-type {
    /* fill: #4B4B4B; */
    fill: rgb(185, 179, 169);
    stroke: rgb(185, 179, 169);
}

.dark .emptyStar {
    fill: #4B4B4B;
    stroke: #4B4B4B;
}

.emptyStar {
  /* fill: #4B4B4B; */
  fill: rgb(185, 179, 169);
  stroke: rgb(185, 179, 169);
}

.ratingComponent__votes {
  color: rgb(113, 113, 113); 
  padding: 0px 0px 0px 5px;
  line-height: 0px
}
