.legend-container::-webkit-scrollbar {
    display: none;
}
.legend-container {
    overflow: scroll;
    overflow-x: hidden;
    position: absolute;
    z-index: 10;
    max-height: 100%;
    left: 75px
}