/* remove filter bar */
.w2ui-grid-toolbar.w2ui-reset.w2ui-toolbar {
  height: unset !important;
  padding: 9px 3px;
}

.w2ui-grid-searches {
  display: none !important;
}

/* end */

.w2ui-grid .w2ui-grid-toolbar,
.w2ui-grid .w2ui-grid-body {
  background-color: unset !important;
}

.w2ui-grid .w2ui-grid-body *,
.w2ui-grid-footer {
  background-color: unset !important;
  background-image: unset !important;

}

.dark .w2ui-grid *,
.dark .w2ui-grid {
  border-color: var(--dark-border) !important;
  box-shadow: unset !important;
  color: var(--dark-font) !important;
}

.w2ui-grid-searches {
  background: unset !important;
}

.light .w2ui-grid *,
.light .w2ui-grid {
  border-color: var(--light-border) !important;
  box-shadow: unset !important;
  color: var(--light-font) !important;
}

.dark .w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.checked .w2ui-tb-text,
.dark .w2ui-tb-button.disabled,
.dark .w2ui-tb-button.over,
.dark .w2ui-tb-button.disabled *,
.dark .w2ui-tb-button.over * {
  color: var(--dark-fontActive) !important;
}

.light .w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.checked .w2ui-tb-text,
.light .w2ui-tb-button.disabled,
.light .w2ui-tb-button.over,
.light .w2ui-tb-button.disabled *,
.light .w2ui-tb-button.over * {
  color: var(--light-fontActive) !important;
}

.w2ui-tb-button.disabled,
.w2ui-tb-button.over {
  opacity: 1 !important;
}

.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.checked,
.w2ui-toolbar .w2ui-scroll-wrapper .w2ui-tb-button.over {
  background-color: unset !important;
}

.w2ui-sort-down,
.w2ui-sort-up {
  border-color: transparent !important;
}

.dark .w2ui-sort-down {
  border-top-color: var(--dark-font) !important;
}

.dark .w2ui-sort-up {
  border-bottom-color: var(--dark-font) !important;
}

.light .w2ui-sort-down {
  border-top-color: var(--light-font) !important;
}

.light .w2ui-sort-up {
  border-bottom-color: var(--light-font) !important;
}

.w2ui-grid .w2ui-grid-body .w2ui-grid-frecords>table>tbody .w2ui-record.w2ui-selected,
.w2ui-grid .w2ui-grid-body .w2ui-grid-records table .w2ui-record.w2ui-selected {
  background-color: unset !important;
}

.dark .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords>table>tbody .w2ui-record.w2ui-selected *,
.dark .w2ui-grid .w2ui-grid-body .w2ui-grid-records table .w2ui-record.w2ui-selected * {
  color: var(--dark-fontActive) !important;
}

.light .w2ui-grid .w2ui-grid-body .w2ui-grid-frecords>table>tbody .w2ui-record.w2ui-selected *,
.light .w2ui-grid .w2ui-grid-body .w2ui-grid-records table .w2ui-record.w2ui-selected * {
  color: var(--light-fontActive) !important;
}